

header.masthead {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background: url("../images/bg-pattern.png"), #7b4397;
    background: url("../images/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
    background: url("../images/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430); }
header.masthead h3 {
    color: #fdcc52;
    margin-top: 30px;
    margin-bottom: 30px;
}
header.masthead h1 {
    font-size: 50px;
}
header.masthead h3 {
    font-size: 20px;
}
header.masthead a {
    margin-top: 50px;
    cursor: pointer;
    font-size: 20px;
}
header.masthead a img {
    margin-top: -7px;
    margin-bottom: -3px;
}
@media (min-width: 992px) {
    header.masthead h1 {
        font-size: 60px;
    }
    header.masthead h3 {
        font-size: 25px;
    }
}


.terminal-window {
    text-align: left;
    max-width: 600px;
    height: 415px;
    border-radius: 10px;
    margin: auto;
    position: relative;
}

.terminal-window header {
    background: #E0E8F0;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
}

.terminal-window header .button {
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 0;
    display: inline-block;
    border-radius: 8px;
}

.terminal-window header .button.green {
    background: #3BB662;
}

.terminal-window header .button.yellow {
    background: #E5C30F;
}

.terminal-window header .button.red {
    background: #E75448;
}

.terminal-window section.terminal {
    color: white;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    font-size: 11pt;
    background: #30353A;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 30px;
    bottom: 0;
    overflow: auto;
}

.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.terminal-data { display: none; }
.terminal-window .gray { color: gray; }
.terminal-window .green { color: green;}


#serverless img {
    margin-bottom: -50px;
}
#serverless a, #microservices a {
    margin-top: 50px;
}